
.footer1{
    display:flex;
    flex-wrap:wrap;
   
   
    color:white;
    border-top: 1px solid rgba(255, 255, 255, 0.068);
    justify-content:space-around;
}
.footer1>div{
    margin-top:30px;
}
#submit{
    width:70px;
}
.footer{
   height:500px;
   background-color: black;
   position: relative;
   bottom: 0;
   margin-top: 140px;
  
}
.footer4{
    display:flex;
    flex-wrap:wrap;
  
    color:white;
    height:300px;
    justify-content:space-around;
}
.footer4>div{
    margin-top:40px;
}
.footer4>div>p>input[type=email]{
    width:274px;
    margin-bottom: 10px;
}
.side3>#icon{
    color:#e2d8d8;
   }
.Mobile{
  font-size:13px;
  background-color:black;
 position:relative;
margin-top:100px;

}

.Mobile>.footer4{
    display:grid;
    grid-template-columns: 110px 190px;
    justify-content:space-around;
    font-size:13px;
    margin-right: 20px;
   
}

.Mobile>.footer1{
    margin-top:130px;
   margin-left: 15px;
   height:300px;
}
.Mobile>.footer4>.side1{
    margin-left:40px;
}
.Mobile>.footer4>div>.side3{
    margin-left:11px;
    font-size:30px;
}
.Mobile>.footer4>div>h5{
    font-size:15px;
}

.Mobile>.footer4>div>p>input[type=email]
{
    width:180px;
    
}
.Mobile>.footer4>div>p>input[type=submit]{
    width:180px;
    margin-top:3px;
    
}
.Mobile>.footer4>div>#side{
    margin-left:20px;
    width:180px;
    margin-top:3px;
}
