.navbar{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-weight: 600;
    color:black;
    background-color:rgb(250, 244, 244);
   position: fixed;
   z-index:998;
   width: 100%;
   box-shadow: 0 1px 4px  rgba(0, 0, 0, 0.712);
}
.navbar1{
    font-size:25px;
    font-weight: 800;
}.navbar2{
    margin-right: 20px;
}
.navbar2>span{margin-left:15px;
font-size:15px;

}
.navbar2>span:hover{
    border-bottom: 3px solid rgb(85, 17, 85);;
}
.navbar2>span>i{
    color:rgb(5, 54, 5);
    margin-right:6px;
    font-size: 20px;
   
}
#lbook{
    font-size:30px;
    margin-left: 10px;
}
.resposive>.resposive-center{
   text-align: center;
   font-size:30px;
   
   font-weight: bolder;

}

.login{background-color:rgb(36 70 25);
         color:white;
         border:none;
         border-radius:4px;
         padding:7px;
         width:130px;
         box-shadow:0 2px 3px black;}
.resposive{
    background-color:rgb(250, 244, 244);
   height:80px;
  position: fixed;
  width:100%;
  
  z-index: 968;
  font-weight: 900;
 
}
.resposive>.resposive-button{
    text-align: center;
  padding: 1px;
    
}
.resposive>.resposive-button>.login{
    padding:1px;
    margin-right: 30px;
    
}
#resposiveright{
   position: fixed;
   top:0;
    background-color:black;
    color:white;
    font-size:23px;
   
    overflow-y: auto;
    width:80%;
    height: 100%;
    padding:17px 12px;
    z-index:998;
display: none;
animation:sideright 1s;
  
}

    

@keyframes sideright{
0%{
        transform: translateX(-840px);
    }
   
}
#fbook,#tbook{
    margin-left:10px;
    font-size: 30px;
    
}

#center>div{
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}
#center>div>i{
    margin-right: 10px;
}
.resposive>.resposive-center>.fa-bars{
    float:right;
    color:black;
    margin-right:10px;
    font-size: 25px;
    margin-top:15px;
   
}
.resposive>.resposive-center>.fa-close{
    float:right;
    color:black;
    margin-right:10px;
    font-size: 25px;
    margin-top:15px;
    display:none;
    background-color: rgba(0, 0, 0, 0);
    height:100vh;
    width:20rem;

position: fixed;
right:0;
}
